In [566]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [567]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [568]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [569]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [570]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = []
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()

for app_type, count in application_type_counts.items():
    if count < 500:
        application_types_to_replace.append(app_type)
        
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [571]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [572]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [573]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = []
classification_counts = application_df['CLASSIFICATION'].value_counts()

for cls, count in classification_counts.items():
    if count < 500:
        classifications_to_replace.append(cls)
        
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [574]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [575]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [576]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Model Optimization methods used - Increase the number of neurons, add a third hidden layer, change the activation function, increase the number of epochs.

In [577]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
# Determine the number of input features
input_features = X_train.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_features))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=20, activation='relu'))

# Third hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=20, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_38"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_150 (Dense)           (None, 80)                3600

 dense_151 (Dense)           (None, 20)                1620

 dense_152 (Dense)           (None, 20)                420

 dense_153 (Dense)           (None, 1)                 21

=================================================================
Total params: 5,661
Trainable params: 5,661
Non-trainable params: 0
_________________________________________________________________

In [578]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [579]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5708 - accuracy: 0.7183
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7308
Epoch 3/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7309
Epoch 4/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7324
Epoch 5/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7332
Epoch 6/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7334
Epoch 7/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7345
Epoch 8/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7350
Epoch 9/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7341
Epoch 10/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7345
Epoch 11/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7346
Epoch 12/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7354
Epoch 13/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7358
Epoch 14/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7357
Epoch 15/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7363
Epoch 16/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7362
Epoch 17/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7365
Epoch 18/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7358
Epoch 19/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7360
Epoch 20/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7371
Epoch 21/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7364
Epoch 22/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7376
Epoch 23/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7365
Epoch 24/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7365
Epoch 25/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7367
Epoch 26/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5389 - accuracy: 0.7364
Epoch 27/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7374
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7371
Epoch 29/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5386 - accuracy: 0.7373
Epoch 30/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7376
Epoch 31/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5379 - accuracy: 0.7370
Epoch 32/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5383 - accuracy: 0.7376
Epoch 33/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5380 - accuracy: 0.7377
Epoch 34/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7385
Epoch 35/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7372
Epoch 36/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7385
Epoch 37/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7380
Epoch 38/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7378
Epoch 39/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5371 - accuracy: 0.7385
Epoch 40/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7373
Epoch 41/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7393
Epoch 42/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7377
Epoch 43/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5370 - accuracy: 0.7377
Epoch 44/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7382
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 46/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7384
Epoch 47/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5357 - accuracy: 0.7385
Epoch 48/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5365 - accuracy: 0.7383
Epoch 49/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5360 - accuracy: 0.7389
Epoch 50/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7385
Epoch 51/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5357 - accuracy: 0.7390
Epoch 52/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5358 - accuracy: 0.7391
Epoch 53/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5358 - accuracy: 0.7389
Epoch 54/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7398
Epoch 55/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7394
Epoch 56/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 57/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7391
Epoch 58/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7379
Epoch 59/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7388
Epoch 60/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5357 - accuracy: 0.7387
Epoch 61/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7389
Epoch 62/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7397
Epoch 63/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7401
Epoch 64/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7394
Epoch 65/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5351 - accuracy: 0.7392
Epoch 66/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5349 - accuracy: 0.7394
Epoch 67/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7384
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7390
Epoch 69/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7396
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7397
Epoch 71/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7398
Epoch 72/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 73/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7410
Epoch 74/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7397
Epoch 75/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7399
Epoch 76/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7402
Epoch 77/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7392
Epoch 78/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7387
Epoch 79/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7394
Epoch 80/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7397
Epoch 81/100

858/858 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7407
Epoch 82/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7391
Epoch 83/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7404
Epoch 84/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7399
Epoch 85/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7396
Epoch 86/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7398
Epoch 87/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7396
Epoch 88/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7402
Epoch 89/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7394
Epoch 90/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7406
Epoch 91/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 92/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7402
Epoch 93/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7403
Epoch 94/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7403
Epoch 95/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7407
Epoch 96/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7395
Epoch 97/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7406
Epoch 98/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7401
Epoch 99/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7398
Epoch 100/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5331 - accuracy: 0.7408

In [580]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5660 - accuracy: 0.7274 - 574ms/epoch - 3ms/step
Loss: 0.5660114884376526, Accuracy: 0.7274052500724792

In [581]:
nn.save("AlphabetSoupCharity_Optimisation.h5")