In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = []
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()

for app_type, count in application_type_counts.items():
    if count < 500:
        application_types_to_replace.append(app_type)
        
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = []
classification_counts = application_df['CLASSIFICATION'].value_counts()

for cls, count in classification_counts.items():
    if count < 500:
        classifications_to_replace.append(cls)
        
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Model Optimization methods used - Increase the number of neurons, add a third hidden layer, change the activation function, increase the number of epochs.

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
# Determine the number of input features
input_features = X_train.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=80, activation='tanh', input_dim=input_features))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=30, activation='tanh'))

# Third hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=10, activation='tanh'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3600

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 6,351
Trainable params: 6,351
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [14]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train, y_train, epochs=75)

Epoch 1/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6922 - accuracy: 0.5271
Epoch 2/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6915 - accuracy: 0.5320
Epoch 3/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 4/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 5/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 6/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 7/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 8/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 9/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 10/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 11/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 12/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 13/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 14/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5311
Epoch 15/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 16/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 17/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6914 - accuracy: 0.5309
Epoch 18/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6915 - accuracy: 0.5320
Epoch 19/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 20/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 21/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 22/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 23/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 24/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 25/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 26/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 27/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 28/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 29/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 30/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 31/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 32/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 33/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 34/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 35/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 36/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 37/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 38/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 39/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 40/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 41/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 42/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 43/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 44/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 45/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 46/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5312
Epoch 47/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 48/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 49/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 50/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 51/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 52/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 53/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 54/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 55/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 56/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 57/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 58/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 59/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 60/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 61/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 62/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 63/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 64/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 65/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 66/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 67/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 68/75
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 69/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 70/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 71/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 72/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 73/75
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 74/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 75/75
858/858 [==============================] - 2s 3ms/step - loss: 0.6913 - accuracy: 0.5320

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.7001 - accuracy: 0.5389 - 337ms/epoch - 2ms/step
Loss: 0.7000904083251953, Accuracy: 0.5389212965965271

In [17]:
nn.save("AlphabetSoupCharity_Optimisation.h5")